# Supabase Credentials (Public keys can be exposed to client if prefixed with NEXT_PUBLIC_)
NEXT_PUBLIC_SUPABASE_URL=https://waqlskaglwzyqrydsthd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# Supabase Service Role Key (Private key, server-only!)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndhcWxza2FnbHd6eXFyeWRzdGhkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzMxMDM3OSwiZXhwIjoyMTAyODg2Mzc5fQ.fCvNGzcYjx82XSMEp3pppP5PKOl_pE5RXf3LWgQWMxY

# Resend API Key for Email Notifications (Private key, server-only!)
RESEND_API_KEY=re_EpcK8tzQ_3o1KidTzGwNxhw78MFn8HgSM
